site_name: Rust for QEMU Insides
site_author: HUST Open Atom Club
site_url: https://oss.openatom.club/
repo_name: hust-open-atom-club/rust-for-qemu-insides
repo_url: https://github.com/hust-open-atom-club/rust-for-qemu-insides
copyright: Brought to you by <a href="https://hust.openatom.club/">HUST Open Atom Club</a>. Available freely under the MIT license.

plugins:
  - md-preview:
      enable: true
      left_title: "Markdown 源码"
      right_title: "渲染输出"

markdown_extensions:
  - admonition
  - footnotes
  - markdown.extensions.def_list
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.tabbed
  - pymdownx.extra
  - pymdownx.inlinehilite
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      auto_append:
        - includes/man.md
        - includes/authors.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: true
  - pymdownx.tasklist:
      custom_checkbox: true

theme:
  language: zh
  font:
    text: Inter
    code: JetBrains Mono
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to happy mode
      accent: pink
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      primary: blue grey
      accent: pink
  features:
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.top
    - navigation.tracking
    - navigation.tabs
    - content.comments
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
extra_css:
  - stylesheets/extra.css

nav:
  - 主页: index.md
  - 文档:
    - 零、基础入门与环境搭建:
      - 00 本章概述: articles/ch0/index.md
      - 01 Rust for QEMU 概述: articles/ch0/01-rust-for-qemu-introduction.md
      - 02 开发环境搭建与调试: articles/ch0/02-compile-and-debug.md
      - 03 快速建模 Rust 设备: articles/ch0/03-easy-simulate-rust-model.md
    - 一、QEMU 中的 Rust:
      - 00 本章概述: articles/ch1/index.md
      - 01 面向对象建模: articles/ch1/01-qom-of-rust-for-qemu.md
      - 02 地址空间抽象: articles/ch1/02-mr-of-rust-for-qemu.md
      - 03 SysBus 总线: articles/ch1/03-sysbus-of-rust-for-qemu.md
  - 博客: blogs/index.md
  - 新闻:
    - 2025:
      - 上游 10 月份进展: news/2025/rust-in-qemu-update-2025-10-15.md
      - 上游 07 月份进展: news/2025/rust-in-qemu-update-2025-07-16.md
      - 上游 05 月份进展: news/2025/rust-in-qemu-update-2025-05-02.md
      - 上游 01 月份进展: news/2025/rust-in-qemu-update-2025-01-28.md
    - 2024:
      - 上游 11 月份进展: news/2024/rust-in-qemu-update-2024-11-26.md